*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

// custom scrollbar

// ::-webkit-scrollbar {
//   width: 0.5rem;
// }

// ::-webkit-scrollbar-track {
//   background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   background: $med-green;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: $dark-green;
// }
