#header {
  height: 90vh;
  background: linear-gradient(
      to right bottom,
      rgb(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url('../assets/hero.jpg') no-repeat top center/cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
  overflow: hidden;
}
