.header__logo {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo img {
  height: 3.5rem;
}

.header__layout {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backface-visibility: hidden;
}

.btn--anime {
  animation: moveUp 1s ease-out backwards 1s;
}

@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
